<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Authorisation to VK</title>
    </head>
    <body>
        <section class="authorisation" style="margin-left: 50px">
            <form enctype="multipart/form-data" method="post" action="{% url 'user_page' %}">
                {% csrf_token %}
                <h3>Попробуйте авторизоваться!</h3>
                <p class="text-left">Login</p>
                <p class="text-left"><input type="text" id="login" name="login" required placeholder="Введите логин"></p>
                <p class="text-left">Password</p>
                <p class="text-left"><input type="text" id="password" name="password" required placeholder="Введите пароль"></p>
                <p class="text-left"><input type="submit" value="Авторизация"></p>
             </form>
        </section>
    </body>
</html>